html
    body
        p.subj
            span(style="font-weight:bold") Subject:&nbsp;
            span= subject
        p.from
            span(style="font-weight:bold") Sent from:&nbsp;
            span= replyTo
        
        p= html