html
    body
        p.subj
            span(style="font-weight:bold") Subject:&nbsp;
            span= subj
        p.from
            span(style="font-weight:bold") Sent from:&nbsp;
            span= from
        
        p= html